body {
	background-color: Assets/Images/shattered.png;
	background-color: purple;
	margin: 0;
	padding: 0;

}

header {
	background-color: #ffffff;
	font-family: "Georgia", Times, "Times New Roman", serif;
	border-bottom: 2px solid #cccccc;
}

#name {
	background-color: #4aaaa5;
	width: 150px;
	text-align: center;
	padding: 25px;
	color:#ffffff;
	font-size: 25px;
}

nav { 
}

section, aside {
	background-color: white;
	border: 1px solid #cccccc;
}

footer {
	background-color: #666666;
	padding: 40px;
	border-top: 8px solid #4aaaa5;
}


/*body {
	margin: 0;
	padding: 0;
	background-image: url(Assets/Images/shattered.png);
	background-color: lightgrey
}

header {
	margin: 0;
	background-color: white;
}

h1 {
	background-color: #4aaaa5
	color: white;
	font-family: "Georgia," Times, "Times New Roman," serif
}

.container {
	margin: 0 auto;
	width: 1024px;
}
#sec-main,
#sec-contact,
#bio-image    { float: left; }
#sec-main     { width: 70%; }
#sec-contact { width: 30%; }
#bio-image {
	margin-right: 20px;
	width: 200px;
	height: 200px;
}
*/